[submodule "themes/bearblog"]
	path = themes/bearblog
	url = https://github.com/janraasch/hugo-bearblog
[submodule "themes/hugo-shortcode-roneo-collection"]
	path = themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git
